{% extends 'layout.html.twig' %}

{% block content %}
    <section class="section">
        <div class="acceuil  d-flex flex-row justify-content- align-items-end py-5">
                <h1 class=" text-acceuil text-center m-5">Welcome in Hell Spartan !</h1>
        </div>
        <div class="description d-flex justify-content-center ">
            <p class="text-center text-dexcription my-5">Want to improve your physical condition, to finally be able to make the pride of your ancestors and your king,
                stop looking, we necessarily have the solution that suits you !</br>
            </br>
                Our exercises will make you sweat body and soul, you will curse each workout hoping it will be the last</p>
        </div>
        <div class="training">
            <h2 class="text-center py-5">Training good for you !</h2>
            <div class ="d-flex flex-wrap justify-content-around">
                <div class="card card-muscle d-flex flex-column align-items-center justify-content-center m-5" style="width: 18rem;">
                    <img src="assets/images/leg.png" class="card-img-top img-card m-3 " alt="logo-leg">
                    <div class="card-body text-center">
                        <h5 class="card-title">Legs</h5>
                        <a href="#" class="btn btn-primary mt-3">Go to exercise</a>
                    </div>
                </div>
                <div class="card card-muscle d-flex flex-column align-items-center justify-content-center m-5" style="width: 18rem;">
                    <img src="assets/images/abdominal.png" class="card-img-top img-card m-3" alt="abdominal-logo">
                    <div class="card-body text-center">
                        <h5 class="card-title">Abdominal</h5>
                        <a href="#" class="btn btn-primary mt-3">Go to exercise</a>
                    </div>
                </div>
                <div class="card card-muscle d-flex flex-column align-items-center justify-content-center m-5" style="width: 18rem;">
                    <img src="assets/images/biceps.png" class="card-img-top img-card m-3" alt="biceps-logo">
                    <div class="card-body text-center">
                        <h5 class="card-title">Biceps</h5>
                        <a href="#" class="btn btn-primary mt-3">Go to exercise</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="exercice py-3">
            <h2 class="text-center m-5 h2-gold ">Popular Exercices</h2>
            <div class ="d-flex flex-wrap justify-content-around">
                <div class="card card-muscle d-flex flex-column align-items-center justify-content-center m-5" style="width: 18rem;">
                    <img src="assets/images/dips.png" class="card-img-top img-card m-3 " alt="logo-dips">
                    <div class="card-body text-center">
                        <h5 class="card-title">Dips</h5>
                        <a href="#" class="btn btn-primary mt-3">Go to exercise</a>
                    </div>
                </div>
                <div class="card card-muscle d-flex flex-column align-items-center justify-content-center m-5" style="width: 18rem;">
                    <img src="assets/images/Walking-lunges-2.png" class="card-img-top img-card m-3" alt="walking-lunges-logo">
                    <div class="card-body text-center">
                        <h5 class="card-title">Walking Lunges</h5>
                        <a href="#" class="btn btn-primary mt-3">Go to exercise</a>
                    </div>
                </div>
                <div class="card card-muscle d-flex flex-column align-items-center justify-content-center m-5" style="width: 18rem;">
                    <img src="assets/images/Leg-raises-1.png" class="card-img-top img-card m-3" alt="leg-raise-logo">
                    <div class="card-body text-center">
                        <h5 class="card-title">Leg Raise</h5>
                        <a href="#" class="btn btn-primary mt-3">Go to exercise</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
