{% extends 'layout.html.twig' %}

{% block content %}
    <section class="acceuil  d-flex flex-column justify-content-around align-items-start py-5">
            <h1 class="text-acceuil ml-md-5">Welcome in Hell Spartan !</h1>
    </section>
    <section>
        <h2>Training is good for you !</h2>
    </section>
    <section>
        <h2>Popular Exercices</h2>
        <a href="">
            <figure>

            </figure>
        </a>
    </section>
    <section>
        <h2>Spartan of the mounth ! </h2>
    </section>
{% endblock %}
