{% extends 'layout.html.twig' %}

{% block content %}
    <section class="acceuil  d-flex flex-column justify-content-around align-items-start py-5">
            <h1 class=" text-acceuil text-center ml-md-5">Welcome in Hell Spartan !</h1>
    </section>
    <section>

    </section>
{% endblock %}
