{% block footer %}
    <footer class="font-small">
        <div class="text-center text-white py-3">© 2020 Copyright:
            <a class="text-white" href="#"> spartan-training.com</a>
        </div>

    </footer>
{% endblock %}