<div class="fixed-top">
    <div class>
        <nav class="navbar navbar-light navbar-expand-lg">
            <a class="navbar-brand img d-none d-lg-block h4 font-weight-bold mr-5 pr-5" href="/">
                <img width="60" height="60" class="logo d-inline-block mr-2 d-none" src="/assets/images/logo-helmet.png" alt="logo">
                Spartan Training
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active dropdown mr-5">
                        <a class="nav-link dropdown-toggle font-weight-bold h5" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Training
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/exercises/indexCategories">by category</a>
                            <a class="dropdown-item" href="/exercises/indexMuscles">by muscle</a>
                        </div>
                    <li class="nav-item mr-5"><a class="nav-link font-weight-bold h5" href="#">My exercices</a></li>
                    <li class="nav-item mr-5"><a class="nav-link font-weight-bold h5" href="/category/index">Equipment</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>