.btn {
    background-color: var(--secondary-color);
}

nav a {
    color : var(--dark);
}

nav a:hover {
    color : var(--dark);
}

a {
    font-family: var(--title-font-family);
}

.image-size{
    height : 350px;
}

.equipment-image {
    height : 300px;
}

.equipement-card {
    height : 500px;
}

body {
    background: url("../images/bg-img-equipments.png") no-repeat fixed center/cover;
}
