.btn {
    background-color: var(--secondary-color);
}

a {
    font-family: var(--title-font-family);
}

.image-size{
    height : 350px;
}

.equipment-image {
    height : 270px;
}

.equipement-card {
    height : 500px;
}

body {
    background: url("../images/bg-img-equipments.png") no-repeat fixed center/cover;
}
