h1 {
    margin-bottom: var(--spacing-4);
}

h2 {
    text-align: center;
}

h3 {
    font-size: calc(var(--title-2-font-size)/2);
    color: var(--dark);
    text-align: left;
}

a:hover {
    text-decoration: none;
}

.illustration {
    height: 290px;
}

.muscle-category-illustration {
    height: 150px;
    padding: var(--spacing) 0;
}

section {
    margin: var(--spacing-4) 0;
}

.exercise-container > div {
    margin: var(--spacing-4) 0;
}

.exercise-illustration, .exercise-category-illustration {
    max-height: 250px;
    max-width: 160px;
    margin: var(--spacing-2) var(--spacing-4);
}

.exercise-image {
    width: 70px;
}

.category-image {
    height: 50px;
}

.exercises-list, .categories-list, .muscles-list {
    border: solid 1px var(--dark);
    border-radius: 2px;
}

.card-body {
    padding-left: var(--spacing-4);
}

nav a {
    color : var(--dark);
}

nav a:hover {
    color : var(--dark);
}

body {
    background: url("../images/background-exercices.png") no-repeat fixed center/cover;
}

