.acceuil{
    background: center/cover url("../images/spartan2.jpg");
    height: 51vw;
}
@media screen and (max-width: 766px){
   .acceuil{
       background :none;
   }
}
.acceuil h1{
    color: var(--primary-color)
}

.card-muscle{
    color: var(--primary-color);
}

.img-card{
    width: 80%;

}

.card-muscle .btn {
    background-color: var(--primary-color);
    border: var(--primary-color);
}

.card-muscle .btn:hover{
    background-color: var(--secondary-color);
}