.section{
    background: fixed center/cover url("../images/spartan2.jpg");
}

.acceuil{
    height: 58vw;
}
.text-acceuil{
    margin-bottom: 220px;
    margin-left: 50px;
}
@media screen and (max-width: 766px){
   .section{
       background :none;
   }
    .navbar{
        background-color: var(--primary-color);
    }
}
.acceuil h1{
    color: var(--primary-color)
}

.card-muscle{
    color: var(--primary-color);
}

.card-muscle .btn {
    background-color: var(--secondary-color);
    color: var(--light);
    border: 0;
}

.card-muscle .btn:hover{
    background-color: var(--dark);
}

.description{
    background-color: var(--primary-color);

}
.text-dexcription{
    max-width: 820px;
    font-size: 32px;
    color: var(--secondary-color);
}
.h2-gold{
    color: var(--secondary-color);
}
.exercice{
    background-color: var(--dark);
}

.card-img-top {
    width: 100px;
}
