.section{
    background: fixed center/cover url("../images/spartan2.jpg");
}

.acceuil{
    height: 51vw;
}
@media screen and (max-width: 766px){
   .acceuil{
       background :none;
   }
}
.acceuil h1{
    color: var(--primary-color)
}

.card-muscle{
    color: var(--primary-color);
}

.img-card{
    max-width: 280px;
    width: auto;
    height: 300px;
}
.card-body{
    width: 100%;
}
.card-muscle .btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: var(--secondary-color);
}

.card-muscle .btn:hover{
    background-color: var(--dark);
}

.training{
    background-color: var(--primary-color);
}

.h2-gold{
    color: var(--secondary-color);
}