nav a {
    color : var(--light);
}

nav a:hover {
    color : var(--light);
}

.btn {
    background-color: var(--secondary-color);
    font-family: var(--title-font-family);
    border : 0;
}

a {
    font-family: var(--title-font-family);
}

body {
    background: url("../images/bg-img-equipments.png") no-repeat fixed center/cover;
}

label, .lead{
    color : var(--dark);
    font-family: var(--title-font-family);
}

.jumbotron {
    background-color : unset;
}

.btn-red {
    background-color: var(--primary-color);
    color : var(--light)
}