@import 'home.css';

:root {
    --dark: rgb(16, 8, 3);
    --light: rgb(250, 248, 248);
    --primary-color : #7f0000;
    --secondary-color : #d5b248;

    --title-font-family: 'Titillium Web', sans-serif;
    --font-family: 'Roboto', sans-serif;

    --title-font-size: 4rem;
    --title-2-font-size: 2.5rem;

    --spacing: 8px;
    --spacing-2:calc(var(--spacing) * 2);
    --spacing-4:calc(var(--spacing) * 4);
    --spacing-6:calc(var(--spacing) * 6);
    --nav-bar-height : 100px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding-top: var(--nav-bar-height);
}

h1 {
    font-size:  var(--title-font-size);
    color : var(--primary-color);
    font-family : var(--title-font-family)
}

h2 {
    font-size:  var(--title-2-font-size);
    color : var(--primary-color);
    font-family : var(--title-font-family)
}


nav, footer{
    background-color: var(--primary-color);
}
.logo{
    background-color: var(--dark);
    background-blend-mode: multiply;
    border-radius: 50%;
}
nav a {
    font-family: var(--title-font-family);
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
}

